.first_gift, .first_utp_offer, .header_logo, .header_menu, .header {
  display: flex;
  align-items: center;
}

button, a, p, h4, h3, h2, h1 {
  margin: 0;
  font-family: "Geometria", sans-serif;
}

.service_list_2_board, .service_list_2-1_stonks, .service_list_2-1_home, .service_list_1_live {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

body {
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
}

h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 48px;
  padding: 60px 0 30px 0;
}

h3 {
  font-weight: 800;
  font-size: 22px;
  line-height: 33px;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

button {
  padding: 0;
  cursor: pointer;
}

hr {
  height: 2px;
  background: #f1f1f1;
  border: none;
  margin: 0;
}

header {
  margin: 0 auto;
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 877px;
}

.header,
.first,
.quiz,
.question,
.service {
  margin: 0 auto;
  max-width: 1140px;
}

.header {
  padding-top: 30px;
  justify-content: space-between;
}

.header_menu {
  gap: 20px;
}

.header_menu_btn {
  background: url(../images/menu_btn.svg);
  height: 29px;
  width: 40px;
  border: none;
}

.header_logo {
  gap: 30px;
}

.header_logo_text {
  max-width: 195px;
}

.header_phone {
  display: flex;
  flex-direction: column;
}

.header_phone_num {
  font-size: 30px;
  line-height: 49px;
  width: 273px;
  height: 50px;
  text-decoration: none;
  color: black;
}

.header_phone_btn {
  background: none;
  border: 1px solid #2a94e2;
  border-radius: 5px;
  font-size: 16px;
  width: 272px;
  height: 55px;
  font-weight: bold;
  cursor: pointer;
}

.first_title {
  width: 586px;
  height: 190px;
}

.first_subtitle {
  width: 540px;
  height: 52px;
  margin-top: 47px;
}

.first_utp {
  margin-top: 49px;
  display: flex;
  gap: 50px;
}

.first_utp_offer {
  gap: 20px;
}

.first_utp_num {
  font-weight: 300;
  font-size: 80px;
}

.first_utp_text1 {
  width: 91px;
}

.first_utp_text2 {
  width: 129px;
}

.first_utp_text3 {
  width: 118px;
}

.first_gift {
  margin-top: 50px;
  gap: 20px;
}

.first_gift_text {
  width: 376px;
}

.first_gift_text_span {
  font-weight: 700;
}

.first_btn {
  margin-top: 40px;
  background: #2a94e2;
  border: 2px solid #2a94e2;
  border-radius: 5px;
  width: 360px;
  height: 70px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.quiz_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
}

.question {
  border: 3px solid #f6f6f6;
  display: flex;
}

.question_answer {
  max-width: 698px;
  margin: 43px 40px 18px 36px;
}

.question_answer_text {
  display: flex;
  gap: 30px;
}

.question_answer_option {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.question_answer_option_img {
  height: 217px;
  width: 334px;
}

.question_answer_options_text {
  font-weight: 700;
  opacity: 0.5;
  margin: 25px 0 25px 0;
}

.question_answer_number_questions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  cursor: pointer;
}

.question_answer_number_questions_btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.question_answer_number_questions_btn_style {
  border: none;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2a94e2;
}

.verticalLine {
  background-color: #f6f6f6;
  width: 5px;
}

.question_utp {
  margin: 40px 44px 31px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question_utp_point {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_list, .service_list_2-1 {
  display: flex;
  gap: 10px;
}

.service_list_1_live {
  width: 373px;
  height: 610px;
  background-image: url(../images/artplay_3.png);
}

.service_list_2-1_home {
  width: 374px;
  height: 300px;
  background-image: url(../images/home.png);
}

.service_list_2-1_stonks {
  width: 373px;
  height: 300px;
  background-image: url(../images/stonks.png);
}

.service_list_2_board {
  width: 757px;
  height: 300px;
  background-image: url(../images/board.png);
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */